[submodule "Modules/RuntimeModules/EasyMidiFileParserCpp"]
	path = Modules/RuntimeModules/EasyMidiFileParserCpp
	url = git@github.com:ThomasProg/EasyMidiFileParserCpp.git
[submodule "Modules/RuntimeModules/glfw"]
	path = Modules/RuntimeModules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Modules/RuntimeModules/PortableFileDialogs"]
	path = Modules/RuntimeModules/PortableFileDialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "Modules/RuntimeModules/json"]
	path = Modules/RuntimeModules/json
	url = https://github.com/nlohmann/json.git
[submodule "Modules/RuntimeModulesWrappers/Python/PyMIDIMusic"]
	path = Modules/RuntimeModulesWrappers/Python/PyMIDIMusic
	url = git@github.com:ThomasProg/PyMIDIMusic.git
[submodule "Modules/RuntimeModules/imgui/imgui"]
	path = Modules/RuntimeModules/imgui/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Modules/TrainingModules/Pytorch/MIDITransformerDiffusion"]
	path = Modules/TrainingModules/Pytorch/MIDITransformerDiffusion
	url = https://github.com/ThomasProg/MIDITransformerDiffusion
[submodule "Modules/ScoreScrapper"]
	path = Modules/ScoreScrapper
	url = git@github.com:ThomasProg/ScoreScrapper.git
[submodule "Modules/Tools/ScoreScrapper"]
	path = Modules/Tools/ScoreScrapper
	url = git@github.com:ThomasProg/ScoreScrapper.git
